@import url('http://fonts.cdnfonts.com/css/gotham');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 5%, rgba(0,84,159,1) 32%, rgba(0,139,149,1) 73%);
    height: 100%;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    color: #ffffff;
    font-family: 'Gotham', sans-serif;
  }
  
  header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .brand {
    float: left;
    height: 50px;
    width: 250px;
    margin-top: 20px;
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  ul a {
    color: white;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  
  #login,
  #signup {
    border-radius: 5px;
    padding: 5px 8px;
  }
  
  #login {
    border: 1px solid #ffffff;
  }
  
  #signup {
    border: 1px solid #ffffff;
  }
  
  #signup a {
    color: #ffffff;
  }
  
  #login a {
    color: #ffffff;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    margin-top: 30px;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 1020px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }

  .preview {
    width: 50%;
    float: right;
    border: #0000 solid 2px;
    border-radius: 10px;
  }
  
  .youniverse {
    float: left;
    padding: 5% 5% 5% 5%;
    font-family: "Gotham", sans-serif;
    font-size: xx-large;
    max-width: 50%;
  }

  .youniverse h3:hover {
    background: linear-gradient(
    to right, 
    #00549F, 
    #008B95,
    #7AB800
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
  transition: 0.2s;
  }

  .youniverse p {
    font-size: x-large;
    line-height: 50px;
  }

  .who {
    font-size: xx-large;
    float: left;
    padding: 10%;
    font-weight: bold;
  }

  .who > .box1 {
    padding: 15px;
    border-radius: 10px;
    font-size: large;
    margin: 5% 5% 5% 0%;
    max-width: 50%;
    line-height: 30px;
    float: left;
    border-style: solid;
    border-color: #ffffff;
    font-weight: lighter;
  }

  .who > .box1:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }

  .who > .box1 > .about {
    color: #ffffff;
  }

  .image {
    float: right;
    width: 45%;
    padding-top: 5%;
    padding-left: 7%;
  }

  .image2 {
    float: left;
    width: 37%;
    margin-left: 5%;
    padding-bottom: 2%;
  }
  
  .image3 {
    float: right;
    width: 45%;
  }

  .products {
    font-size: xx-large;
    float: right;
    padding: 5%;
    font-weight: bold;
    margin-top: 5%;
  }

  .products > .box2 {
    margin: 5% 5% 5% 0%;
    border-radius: 10px;
    font-size: large;
    max-width: 450px;
    line-height: 30px;
    float: right;
    border-style: solid;
    border-color: #ffffff;
    padding: 5%;
  }

  .products > .box2:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }

  .products > .box2 > .about {
    color: #ffffff;
    font-weight: lighter;
  }

  .clients {
    font-size: xx-large;
    float: left;
    padding: 10%;
    margin: 0%;
    font-weight: bold;
  }

  .clients > .box3 {
    padding: 15px;
    border-radius: 10px;
    font-size: large;
    margin: 5% 5% 5% 0%;
    max-width: 50%;
    line-height: 30px;
    float: left;
    border-style: solid;
    border-color: #ffffff;
    font-weight: lighter;
  }

  .clients > .box3:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }

  .clients > .box3 > .about {
    color: #ffffff;
  }

  footer{
    clear: both;
    position: relative;
    height: auto;
    width: auto;
    padding-top: 2%;
    color: #fff;
    border-top: solid 2px #ffffff;
}

.footer-content{
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: row;
  text-align: left;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 12px;
  color: #cacdd2;
  padding: 5px;
}

.footer-bottom p{
  clear:both;
}

.socials{
  list-style: none;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 10px;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: #7AB800;
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  clear:both;
  text-align: left;
}

.footer > .brand {
  text-align:justify;
}

@media (max-width:1020px) {
  .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  }

  @media (max-width: 1020px) {
    .box1, .card, .card2, .box2, .card3 { 
      flex-direction: row;
   }
 }

 .card {
  box-shadow: 4px 15px 8px 4px rgba(0, 0, 0, 0.5);
  max-width: 20%;
  padding: 2% 2% 2% 2%;
  margin: 5% 5% 5% 10%;
  font-family: 'Gotham', sans-serif;
  float: left;
  font-size: xx-large;
  font-weight: bold;
  clear:both;
}

.card:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.card > .title {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.card > .description {
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
}

.card2 {
  box-shadow: 4px 15px 8px 4px rgba(0, 0, 0, 0.5);
  max-width: 20%;
  padding: 2% 2% 2% 2%;
  margin: 5% 5% 5% 5%;
  font-family: 'Gotham', sans-serif;
  float: left;
  font-size: xx-large;
  font-weight: bold;
}

.card2:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.card2 > .title {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.card2 > .description {
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
}

.card3 {
  box-shadow: 4px 15px 8px 4px rgba(0, 0, 0, 0.5);
  max-width: 20%;
  padding: 2% 2% 2% 2%;
  margin: 5% 5% 5% 5%;
  font-family: 'Gotham', sans-serif;
  float: left;
  font-size: xx-large;
  font-weight: bold;
}

.card3:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.card3 > .title {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.card3 > .description {
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
}